/* Here start CSS file */
body {
  background-color: #f4f5f7;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

/* Marked important to overlap bootstrap rules */

h6 {
  color: #000 !important;
}

nav {
  padding: 0 !important;
}

main {
  margin: 5px;
}

.navcolor {
  background-color: #ff0500;
}

article {
  margin-bottom: 2rem;
  padding-top: 1.8rem;
}

}

img {
  margin-bottom: .8rem;
}

img[alt="Newsweek Logo"] {
  height: 3rem;
}

img[alt="Image Profile"] {
  width: 3.5rem;
}

img[alt="Image Debate"] {
  height: 5rem;
}

img[alt="weather"] {
  width: 1.2rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-time {
  display: flex;
  font-weight: bold;
  color: #fff;
}

.country {
  display: none;
}

footer {
  background-color: #fff;
  padding: 1rem 0.8rem;
  margin-top: 2rem;
}

a {
  color: inherit;
}

a#sign {
  color: #ff0500;
}

h4,
h3 {
  color: #000;
}

h5 {
  font-size: 16px;
  font-weight: bold!important;
}

h6 a {
  color: #000 !important;
}

footer ul a {
  color: #000;
  opacity: 0.5;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h5 a:hover,
h4 a:hover,
h3 a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ff0500;
}

h6 a:hover {
  color: #ff0500 !important;
  text-decoration: none !important;
}

li h6 a:hover {
  background-color: #000;
  color: #fff !important;
}

a:hover[class="short"] {
  color: red !important;
}

/* Featured posts */
.featured-image {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff0500;
  background-color: #eaeae7;
}

/* Search bar  */

.form-control {
  background: #fff;
  border: none;
}

/* HR styles */
.debate-pro {
  border: 2px solid #f92859;
}

.debate-con {
  border: 2px solid #1c87fb;
}

.debate {
  width: 90%;
}

/* Vs in Debate */
.vs {
  background-color: #000;
  background-size: contain;
  border-radius: 50%;
}

/* Sponsored section */
.img-container {
  position: relative;
  width: 100%;
  height: auto;
}

.art-container {
  position: relative;
  width: 90%;
  height: auto;
  margin: 30px auto;
}

.bottom-left {
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #eaeae7;
}

/* Travel sections */
.travel-container {
  position: relative;
  width: 95%;
  height: auto;
  margin: 0 0.5rem 30px 0.5rem;
}

.category-image {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c2d4d7;
}

/* In the magazine */
.issue-image {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff0500;
  background-color: #eaeae7;
}

.features {
  background-color: #ff0500;
  color: #fff;
  font-weight: bold;
}

.f-category {
  color: #ff0500!important;
  font-weight: bold;
}

.feature-notes {
  margin-bottom: 2rem;
}

/* suscribe */

.subs {
  background-color: #f4f5f6;
}

.subs-text {
  max-width: 60vw;
  margin: auto;
}

.anchor-news {
  background-color: #ff0500;
  color: #fff;
  font-weight: bold;
  max-width: 120;
  margin: 20px auto;
}

a.anchor-news:hover {
  background-color: #dd0500;
  text-decoration: none;
  color: #fff;
}

/* Footer */

.icons {
  font-size: 1.6rem;
  margin: 0 5px;
  color: #000;
  opacity: 0.5;
}

a.icons:hover {
  color: #3b5998;
  opacity: 0.8;
}

footer ul a:hover {
  color: #000;
  opacity: 1;
  text-decoration: none;
}

.feat-extra {
  display: none;
}

/* Grid area of sections */
.top-story {
  grid-area: top;
}

.featured-stories {
  grid-area: feat;
}

.culture-travel {
  grid-area: cult;
}

.more-stories {
  grid-area: more;
}

.sponsored {
  grid-area: spon;
}

.opinion-section {
  grid-area: opin;
}

.debate-section {
  grid-area: deba;
}

.latest-news {
  grid-area: lnew;
}

.sponsored-2 {
  grid-area: spon2;
}

.magazine {
  grid-area: maga;
}

.editor-pick {
  grid-area: edit;
}

.featured-slide {
  grid-area: feas;
}

.subscribe {
  grid-area: subs;
}

.newsletter {
  grid-area: news;
}

.large {
  display: none;
}

.short {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .grid-area {
    display: grid;
    width: auto;
    grid-template-areas:
      "feat top"
      "feat top"
      "feat cult"
      "feat more"
      "spon more"
      "spon more"
      "spon more"
      "spon more"
      "spon more"
      "opin opin"
      "opin opin"
      "deba deba"
      "deba deba"
      "lnew lnew"
      "spon2 spon2"
      "maga maga"
      "edit edit"
      "feas feas"
      "subs subs"
      "news news";
    grid-template-columns: 1fr 1.2fr;
    grid-column-gap: 10px;
  }

  .feat-extra {
    display: block;
  }

  .editor-pick .travel-container {
    margin: 0;
  }

  .featured-slide div {
    margin: 2px;
  }

  .posts-small {
    width: 25vw;
  }

  .subs-text {
    margin-right: auto;
  }

  .anchor-news {
    margin: 20px auto 20px 5px;
  }

  .newsletter figcaption {
    width: 100vw;
  }

  .country {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  nav {
    max-width: 1224px;
    margin: auto;
  }

  .grid-area {
    display: grid;
    max-width: 1224px;
    margin: auto;
    grid-template-areas:
      "feat feat feat top top top top opin opin opin"
      "feat feat feat cult cult cult cult opin opin opin"
      "feat feat feat more more more more deba deba deba"
      "spon spon spon more more more more lnew lnew lnew"
      "spon spon spon more more more more spon2 spon2 spon2"
      "spon spon spon more more more more spon2 spon2 spon2"
      "maga maga maga maga maga maga maga maga maga maga"
      "edit edit edit edit edit edit edit edit edit edit"
      "feas feas feas feas feas feas feas feas feas feas"
      "subs subs subs subs subs subs subs news news news";
    grid-template-columns: repeat(10, 9%);
    grid-column-gap: 10px;
  }

  .newsletter figcaption {
    width: 60vw;
  }

  img[alt="Newsweek Logo"] {
    height: 8rem;
    margin: auto;
  }

  li h6 {
    display: inline-block !important;
    font-weight: bold !important;
    padding-top: 0.8rem;
    opacity: 1 !important;
  }

  .large {
    display: inline;
    font-weight: lighter;
  }

  .short {
    display: none;
  }

  .toggle-line {
    display: none;
  }

  img[alt="Newsletter"] {
    display: block;
    width: 65vw;
    height: auto;
    margin: 0;
    object-fit: cover;
  }
}
