section {
  background-color: #f4f5f7;
}

header {
  background-color: #ff0500;
  position: fixed;
}

img[alt="Newsweek Logo"] {
  height: 2.5rem;
}

img[alt="Image Profile"] {
  width: 3.5rem;
}

img[alt="Image Debate"] {
  height: 5rem;
}

/* HR styles */
.debate-pro {
  border: 2px solid #f92859;
}

.debate-con {
  border: 2px solid #1c87fb;
}

.debate {
  width: 90%;
}

/* Vs in Debate */

.vs {
  background-color: #000;
  background-size: contain;
  border-radius: 50%;
}
