/* Here start CSS file */
html {
  font-size: 14px;
}

body {
  background-color: #f4f5f7;
}

/* Marked important to overlap bootstrap rules */

h6 {
  color: #000 !important;
}

nav {
  padding: 0 !important;
}

main {
  margin: 5px;
}

.navcolor {
  background-color: #ff0500;
}

article {
  margin-bottom: 2rem;
  padding-top: 1.8rem;
}

img[alt="Newsweek Logo"] {
  height: 3rem;
}

img[alt="Image Profile"] {
  width: 3.5rem;
}

img[alt="Image Debate"] {
  height: 5rem;
}

img[alt="weather"] {
  width: 1.2rem;
}

time {
  display: none;
}

.weather-time {
  display: flex;
  font-weight: bold;
  color: #fff;
}

.country {
  display: none;
}

footer {
  background-color: #fff;
  padding: 1rem .8rem;
  margin-top: 2rem;
}

a {
  color: inherit;
}

a#sign {
  color: #ff0500;
}

h6 a {
  color: #000 !important;
}

footer ul a {
  color: #000;
  opacity: 0.5;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h5 a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ff0500;
}

h6 a:hover {
  color: #ff0500 !important;
  text-decoration: none !important;
}

li h6 a:hover {
  background-color: #000;
  color: #fff !important;
}

 a:hover[class="short"] {
  color: red !important;
}

/* Featured posts */
.featured-image {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff0500;
  background-color: #eaeae7;
}

/* HR styles */
.debate-pro {
  border: 2px solid #f92859;
}

.debate-con {
  border: 2px solid #1c87fb;
}

.debate {
  width: 90%;
}

/* Vs in Debate */
.vs {
  background-color: #000;
  background-size: contain;
  border-radius: 50%;
}

/* Sponsored section */
.img-container {
  position: relative;
  width: 100%;
  height: auto;
}

.art-container {
  position: relative;
  width: 90%;
  height: auto;
  margin: 30px auto;
}

.bottom-left {
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #eaeae7;
}

/* Travel sections */
.travel-container {
  position: relative;
  width: 95%;
  height: auto;
  margin: 0 .5rem 30px .5rem;
}

.category-image {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c2d4d7;
}

/* In the magazine */
.issue-image {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff0500;
  background-color: #eaeae7;
}

.features {
  background-color: #ff0500;
  color: #fff;
  font-weight: bold;
}

.f-category {
  color: #ff0500;
  font-weight: bold;
}

.feature-notes {
  margin-bottom: 2rem;
}

/* suscribe */

.subs {
  background-color: #f4f5f6;
}

.subs-text {
  max-width: 60vw;
  margin: auto;
}

.anchor-news {
  background-color: #ff0500;
  color: #fff;
  font-weight: bold;
  max-width: 120;
  margin: 20px auto;
}

a.anchor-news:hover {
  background-color: #dd0500;
  text-decoration: none;
  color: #fff;
}

/* Footer */

.icons {
  font-size: 1.6rem;
  margin: 0 5px;
  color: #000;
  opacity: 0.5;
}

a.icons:hover {
  color: #3b5998;
  opacity: 0.8;
}

footer ul a:hover {
  color: #000;
  opacity: 1;
  text-decoration: none;
}

.feat-extra {
  display: none;
}

/* Grid area of sections */
.top-story {
  grid-area: top;
}

.featured-stories {
  grid-area: feat;
}

.culture-travel {
  grid-area: cult;
}

.more-stories {
  grid-area: more;
}

.sponsored {
  grid-area: spon;
}

.opinion-section {
  grid-area: opin;
}

.debate-section {
  grid-area: deba;
}

.latest-news {
  grid-area: lnew;
}

.sponsored-2 {
  grid-area: spon2;
}

.magazine {
  grid-area: maga;
}

.editor-pick {
  grid-area: edit;
}

.featured-slide {
  grid-area: feas;
}

.subscribe {
  grid-area: subs;
}

.newsletter {
  grid-area: news;
}

.large {
  display: none;
}

.short {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .grid-area {
    display: grid;
    width: auto;
    grid-template-areas:
                        "feat top"
                        "feat top"
                        "feat cult"
                        "feat more"
                        "spon more"
                        "spon more"
                        "spon more"
                        "spon more"
                        "spon more"
                        "spon more"
                        "opin opin"
                        "opin opin"
                        "deba deba"
                        "deba deba"
                        "lnew lnew"
                        "spon2 spon2"
                        "maga maga"
                        "edit edit"
                        "feas feas"
                        "subs subs"
                        "news news";
    grid-template-columns: 1fr 1.2fr;
    grid-column-gap: 10;
}

  .feat-extra {
    display: block;
  }

  .editor-pick .travel-container {
    margin: 0;
  }

  .featured-slide div {
    margin: 2px;
  }

  .posts-small {
    width: 25vw;
  }

  .subs-text {
    margin-right: auto;
  }

  .anchor-news {
    margin: 20px auto 20px 5px;
  }

  .newsletter figcaption {
    width: 100vw;
  }

  .country {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .grid-area {
    display: grid;
    width: auto;
    grid-template-areas:
                        "feat top top opin"
                        "feat cult cult opin"
                        "feat more more deba"
                        "spon more more lnew"
                        "spon more more spon2"
                        "spon more more spon2"
                        "maga maga maga maga"
                        "edit edit edit edit"
                        "feas feas feas feas"
                        "subs subs subs news";
    grid-template-columns: repeat(4, 25vw);
    grid-column-gap: 10;
  }

  .newsletter figcaption {
    width: 60vw;
  }

  time {
    display: block;
  }

  img[alt="Newsweek Logo"] {
    height: 8rem;
    margin: auto;
  }

  li h6 {
    display: inline-block !important;
    font-weight: bold !important;
    padding-top: 0.8rem;
    opacity: 1 !important;
  }

  .large {
    display: inline;
    font-weight: lighter;
  }

  .short {
    display: none;
  }

  .toggle-line {
    display: none;
  }
}
